<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>06-08</title>
    <style>
      .bColor {
        background-color: aqua;
        color: black;
      }

      .bLayout {
        text-align: center;
        width: 120px;
      }

      .bBorder {
        border: khaki dashed 1px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button
        :class="{ bColor: setColor, bLayout: setLayout, bBorder: setBorder }"
      >
        버튼
      </button>
      <br />
      <input type="checkbox" v-model="setColor" value="true" /> 색상
      <br />
      <input type="checkbox" v-model="setLayout" value="true" /> 정렬, 크기
      <br />
      <input type="checkbox" v-model="setBorder" value="true" /> 테두리선
      <br />
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            setColor: false,
            setLayout: false,
            setBorder: false,
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>
